header {
    width: 1010px;
    height: 200px;
    border-radius: 24px;
    margin-bottom: 10px;
    background-color: blue;
    float: left;
}

main {
    width: 800px;
    height: 600px;
    border-radius: 24px;
    margin-bottom: 10px;
    background-color: blue;
    float: left;
}

aside {
    width: 200px;
    height: 500px;
    border-radius: 24px;
    background-color: blue;
    float: right;
}

footer {
    width: 1010px;
    height: 200px;
    border-radius: 24px;
    background-color: blue;
    float: left;
    clear: both;
}

body {
    width: 1010px;
    height: 1000px;
    font-size: 50px;
    text-align: center;
}